

{% set page_title = "Show" %}

{% extends "layouts/base.html" %}

{% block body %}
<div class="container">
<div class="row" style="margin:50px auto">
<div id="steps_chart" class="col-md-4"></div>
<div id="distance_chart" class="col-md-4"></div>
<div id="calories_out_chart"  class="col-md-4"></div>
</div>

<div id="coding_chart"  style="width:700px;margin:0px auto 20px;"></div>
<div id="times_chart" style="width:700px;margin:0px auto 50px;"></div>
</div>
{% endblock %}



{% block js_btm %}
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script type="application/javascript" src="http://cdn.bootcss.com/highcharts/4.1.5/highcharts.js"></script>
    {% if username %}
    <script type="application/javascript">
        var username = "{{ username }}";
    </script>
    <script type="application/javascript" src="/static/js/show_user.js"></script>
    {% else %}
    <script type="application/javascript" src="/static/js/show.js"></script>
    {% endif %}



    {% endblock %}