.grayscale { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
-webkit-filter: grayscale(100%); /* chrome+ */
filter: grayscale(100%); /* 未来浏览器 */
filter: gray; /* ie6-8 */
filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);/*ie6-9 */
}